* {
    margin: 0;
    padding: 0;
}

/*text scrolling*/
.marquee {
    width: 100%; /* Set width to 100% */
    white-space: nowrap; /* Prevents text from wrapping */
    animation: scroll 10s linear infinite; /* Animation properties */
    font-size: 24px; /* Font size */
    color: #333; /* Text color */
}

body {
    font-family: Arial, sans-serif;
    background-color: #88bdf2;
    text-align: center;
}

header {
    background-color: #6a89a7;
    color: #88bdf2;
    padding: 15px;
    overflow: hidden; /* Hide overflow to prevent scrollbar */
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}

.nav-links li {
    padding: 15px;
}

.nav-links a {
    text-decoration: none;
    color: #bdddfc;
    font-size: 25px;
}

.nav-links a:hover {
    color: blue;
    text-decoration: underline;
}

.content {
    display: flex;
    padding: 20px;
    background-color: #384959;
    width: 800px;
    justify-content: center;
}

.box {
    background-color: #ff0000;
    padding: 30px;
    width: 200px;
    text-align: center;
}

.box2 {
    background-color: #00ff00;
    padding: 30px;
    width: 60px;
    text-align: center;
}

.box3 {
    background-color: #0000ff;
    padding: 30px;
    width: 200px;
    text-align: center;
}

@media (max-width: 760px) {
    .nav-links {
        flex-direction: column;
    }
    .content {
        flex-direction: column;
		width: 410px;
    }

/*text scrolling*/
@keyframes scroll {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}