* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-attachment: fixed;
    text-align: left;
    line-height: 1.6;
    color: white;
}



body {
    background: url('images/bg.jpg') no-repeat center center/cover;
}


header {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #ffffff;
    padding: 35px 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

img {
    display: block; /* Makes the image a block element */
    margin: 20px auto; /* Centers the image and adds vertical spacing */
    max-width: 800px; /* Ensures the image does not exceed this width */
    height: auto; /* Maintains the aspect ratio */
}

.topnav {
    background-color: #203a43;
    padding: 10px 0;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-links li {
    padding: 0 15px;
    font-size: 20px;
    color: #ffffff;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    /*font-weight: bold;*/
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: #00e6e6;
    text-decoration: underline;
    transform: scale(1.05);
}

.nav-links li:not(:has(a)) {
    pointer-events: none;
    user-select: none;
    font-weight: normal;
    font-size: 22px;
}

.content {
    max-width: 850px;
    margin: 20px auto;
    padding: 0 30px;
    color: white; /* Optional if your background is dark */
}
 p {
    border-left: 4px solid #85c1e9;
    padding: 10px 20px;
    margin: 15px auto;
    max-width: 900px;
    background: none;
    box-shadow: none;
}



/* Ensure bullets align properly */
ul {
    list-style-type: disc;
    margin: 15px 0 25px 40px; /* left space for bullets */
    padding: 0;
    color: #ffffff; /* optional */
}

li {
    margin-bottom: 8px;
    line-height: 1.6;
}
/* Headings */
h1 {
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}



ul {
    padding-left: 40px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 8px;
    line-height: 1.6;
}

/* Lists */
ul {
    margin-left: 50px;
    padding: 10px;
}

li {
    padding-bottom: 5px;
}

/* Footer */
footer {
    background-color: #0f2027;
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    margin-top: 50px;
}

/* Responsive */
@media (max-width: 760px) {
    .nav-links {
        flex-direction: column;
    }

    p {
        margin: 20px;
        font-size: 16px;
    }

    .nav-links li {
        padding: 8px;
    }
}

h2 {
    position: relative;
    padding-left: 25px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #85c1e9; /* solid light blue */
}
